body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
}

#container {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex; /*essentially turns on flexbox*/
    flex-direction: column; /*flex-direction affects the axis the elements are directed on*/
    justify-content: center; /*defines how the browser distributes space between and around content items along the main axis of a flex container*/
    flex-wrap: wrap; /*determines whether content of a flexbox should remain on one line or can wrap onto multiple */
    align-items: center; /*sets the align-self value on all direct children as a group*/
}

#container div {
    width: 200px;
    height: 200px;
    text-align: center;
}