h2 {
    color: teal; /*color changes the colour of the text*/
    background-color: plum; /*colours can be designated by name*/
}

button {
    color: magenta;
    background-color: cyan; /*background-color changes the colour of the background*/
}

p{
    color: rgb(89, 151, 0); /*or by using their rgb number*/
    background: orange; /*background can change colour, but it also has more options*/
}