/** { universal selector selects everything in the html document and applies the chosen properties accordingly
    background-color: cyan;
}*/

body {
    background-color:#f1faee;
}

button { /*element selector selects everything of a given type*/
    font-size: 30px;
    background-color: #a8dadc;
}

h1,h2 { /*adding a comma creates a selector list, where you can assign multiple selectors*/
    color: #1d3557;
}

#signup { /*id selectors can be used to target a specific element within the html document, they are denoted in CSS using the # symbol*/
    color: #f1faee;
    background-color: #1d3557;
}

span {
    color: #457b9d;
}

.tag { /*class selectors can be used to target groups of elements within an html document, they are denoted in CSS using a . symbol*/
    background-color: #e63946;
    color:#f1faee;
    font-size: 16px;
}