/** { universal selector selects everything in the html document and applies the chosen properties accordingly
    background-color: cyan;
}*/

body {
    background-color:#f1faee;
}

button { /*element selector selects everything of a given type*/
    font-size: 30px;
    background-color: #a8dadc;
}

h1,h2 { /*adding a comma creates a selector list, where you can assign multiple selectors*/
    color: #1d3557;
}

#signup { /*id selectors can be used to target a specific element within the html document, they are denoted in CSS using the # symbol*/
    color: #f1faee;
    background-color: #1d3557;
}

span {
    color: #457b9d;
}

.tag { /*class selectors can be used to target groups of elements within an html document, they are denoted in CSS using a . symbol*/
    background-color: #e63946;
    color:#f1faee;
    font-size: 16px;
}

.post a { /*descendant selectors can be used to target elements nested within elements*/
    color: #457b9d;
    font-weight: 700;
    text-decoration: none;
}

footer a { /*they can be nested anywhere within the host element*/
    color:#e63946;
}

h2 + button { /*adjacent selectors select elements that are immediately preceded by another element*/
    font-size: 20px;
    background-color: magenta;
}

footer > a { /*direct descendant selector only selects elements that are direct children of another element*/
    color: #457b9d;
}

input[type="password"] { /*attribute selector is used to target an element with a specific attribute*/
    color: green;
}

a[href*="google"] { /*you can also target href attributes containing certain keywords*/
    color: magenta;
}

.post button:hover { /*hover pseudo class affects elements when the cursor hovers over them*/
    background-color: #e63946;
    color: #f1faee;
}

.post a:hover {
    text-decoration: underline;
}

.post button:active { /*active pseudo class affects elements when they're active (like clicking a button)*/
    background-color: #02c39a;
}

.post:nth-of-type(2n) { /*nth-of-type pseudo class affects elements based on their position in a group, can target single elements or every nth element*/
    background-color: #dfe8dc;
}

h2::first-letter { /* first-letter pseudo element will affect the first letter of an element*/
    font-size: 50px;
}

p::first-line { /*first-line affects the first line*/
    color: purple;
}

p::selection { /* selection element affects the element when it is selected (e.g. highlighting text)*/
    background-color: #fcbf49;
}